
<div id="container">
	<div id="puzzle">
		<%= image_tag "/assets/waldo.jpg", :id => "puzzle-pic" %>
	</div>

	<div id="targetingBox">
	    <p>Who did you find?</p>
	    <button onClick="checkAnswer('Waldo')">Waldo</button>
	    <button onClick="checkAnswer('wizardo')">Wizardo</button>
	    <button onClick="checkAnswer('bandido')">Bandido</button>
	</div>
</div>
